$navy-blue: #252b48;
$light-navy-blue: #2d3350;
$green: #42b883;
$light-green: #4ade80;
$blue: #3b82f6;
$gray: #e5e7eb;
$mid-gray: #94a3b8;
$dark-gray: #374151;
$white: #f8fafc;
$dark-slate: #0f172a;
$red: #ef4444;
